---
import Icon from "../../General/Icon.astro"

interface SocialMediaCard {
    logo: string
    title: string
    link: string
    color: string
}

const {logo, link, color, title, user} = Astro.props


---

<div class=`media-${logo}`>
  <div class="flex sm:flex-col justify-between items-start mr-3 w-full" >
    <h2 class="hidden sm:flex">{title}</h2>
    
    <a href={link} target="_blank" rel="noopener noreferrer">
    <button class="follow">Follow<p>{user}</p></button>
  </a>
  </div>

  <a class="icon-link" href={link} target="_blank" rel="noopener noreferrer">
    <Icon icon=`${logo}` />
  </a>

  
  
</div>

<style>
  h2{
    color: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 10px;
  }

  .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

  .follow{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: black;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: background .2s ease, color .2s ease;
  }

   .follow:is(:hover, :focus-within) {
    color: black;
    background: white
  }

  p {
    margin-left: 5px;
    font-weight: 600;
  }

  .media-insta{
    display: flex;
    align-items: center;
    background: #262626;
    padding: 10px;
    border-radius: 15px;
    opacity: 0.8;
    width: 100%;
    animation: fadeIn2 2s;
    transition: transform .5s ease, background .5s ease, color .5s ease, box-shadow .5s ease;
    box-shadow: 1px 1px 1px black ;
    color: #c32aa3;
  }

  .media-insta:is(:hover, :focus-within) {
    transform: scale(1.02);
    background: #c32aa3;
    box-shadow: none;
    color: #262626;
  }

  .media-youtube{
    display: flex;
    align-items: center;
    background: #262626;
    padding: 10px;
    border-radius: 15px;
    
    opacity: 0.8;
    width: 100%;
    animation: fadeIn2 2s;
    transition: transform .5s ease, background .5s ease, color .5s ease, box-shadow .5s ease;
    box-shadow: 1px 1px 1px black ;
    color: #c4302b;
  }

  .media-youtube:is(:hover, :focus-within) {
    transform: scale(1.02);
    background: #c4302b;
    color: #262626;
    box-shadow: none;
  }

  .media-tiktok{
    display: flex;
    align-items: center;
    background: #262626;
    padding: 10px;
    border-radius: 15px;
    
    opacity: 0.8;
    width: 100%;
    animation: fadeIn2 2s;
    transition: transform .5s ease, background .5s ease, color .5s ease, box-shadow .5s ease;
    box-shadow: 1px 1px 1px black ;
    color: #00f2ea;
  }

  .media-tiktok:is(:hover, :focus-within) {
    transform: scale(1.02);
    background: #00f2ea;
    color: #262626;
    box-shadow: none;
  }

  .media-spoty2{
    display: flex;
    align-items: center;
    background: #262626;
    padding: 10px;
    border-radius: 15px;
    opacity: 0.8;
    width: 100%;
    animation: fadeIn2 2s;
    transition: transform .5s ease, background .5s ease, color .5s ease, box-shadow .5s ease;
    box-shadow: 1px 1px 1px black ;
    color: #1DB954;
    
  }

  .media-spoty2:is(:hover, :focus-within) {
    transform: scale(1.02);
    background: #1DB954;
    color: #262626;
    box-shadow: none;
  }

  @media (max-width: 300px) {
  .follow {
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }}

  @keyframes fadeIn2 {
    from{
      opacity: 0;
    }
    to{
      opacity: 0.8;
    }
    
  }
</style>
